.frame{
    background-color: white;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    width: 98%;
    position: relative;
    margin: auto;
}
.title {
    font-size: 20px;
    font-weight: bold;
    padding-top:20px;
    padding-bottom:10px;
}
.footer {
    padding-top:50px;
}
.required:after {
    content: "*";
    color:red;
}
.right{
    text-align: right;
}